<template>
  <b-container class="mb-5">
    <div class="row">
      <div class="col-md-12 mb-3">
        <div class="layout-btn-group">
          <h4 class="pull-left">
            {{ model.id > 0 ? "Editing" : "Creating" }} Permissions
          </h4>
          <b-button
            class="pull-right"
            variant="outline-info"
            :to="{ name: 'Permissions' }"
          >
            <i class="fa fa-arrow-left"></i> Back
          </b-button>
        </div>
      </div>
      <div class="col-md-12">
        <form @submit="onSubmit" class="d-flex justify-content-center">
          <div class="row" v-if="model">
            <div class="col-md-12">
              <div class="form-group">
                <label for="employeeName">Employee Name*</label>
                <input
                  type="text"
                  name="employeeName"
                  v-model="model.employeeName"
                  v-validate="'required'"
                  class="form-control"
                  :class="{ 'is-invalid': errors.has('employeeName') }"
                  id="employeeName"
                  placeholder="Employee Name"
                />
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="employeeLastName">Employee Last Name*</label>
                <input
                  type="text"
                  name="employeeLastName"
                  v-model="model.employeeLastName"
                  v-validate="'required'"
                  class="form-control"
                  :class="{ 'is-invalid': errors.has('employeeLastName') }"
                  id="employeeLastName"
                  placeholder="Employee Last Name"
                />
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="permissionTypeId">Permission Type*</label>
                <b-form-select
                  name="permissionTypeId"
                  v-model="model.permissionTypeId"
                  v-validate="'required'"
                  :options="options"
                  :class="{ 'is-invalid': errors.has('permissionTypeId') }"
                  value-field="id"
                  text-field="description"
                  disabled-field="notEnabled"
                  id="permissionTypeId"
                >
                  <template #first>
                    <b-form-select-option :value="null"
                      >-- Please select an option --</b-form-select-option
                    >
                  </template>
                </b-form-select>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="permissionDate">Permission Date*</label>
                <b-form-datepicker
                  name="permissionDate"
                  v-model="model.permissionDate"
                  v-validate="'required'"
                  :class="{ 'is-invalid': errors.has('permissionDate') }"
                  :min="new Date()"
                  id="permissionDate"
                ></b-form-datepicker>
              </div>
            </div>
            <div class="col-md-12">
              <button class="btn btn-success btn-block">
                <i class="fa fa-floppy-o"></i>
                {{ isLoading ? "Loading..." : "Save" }}
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </b-container>
</template>

<script src="./permission.ts"></script>
