<template>
  <div id="layout">
    <KHeader />
    <b-container fluid class="mt-3">
      <slot></slot>
    </b-container>
    <KFooter />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Header from "@/components/layout/header/header.vue";
import Footer from "@/components/layout/footer/footer.vue";

@Component({
  components: {
    KHeader: Header,
    KFooter: Footer
  }
})
export default class Layout extends Vue {}
</script>
