<template>
  <div class="home d-flex justify-content-center align-items-center">
    <b-card
      bg-variant="info"
      text-variant="white"
      title="Permission Types"
      style="min-width: 15rem;"
    >
      <b-button :to="{ name: 'PermissionTypes' }" variant="light"
        >Go there</b-button
      >
    </b-card>
    <b-card
      bg-variant="info"
      text-variant="white"
      title="Permissions"
      style="min-width: 15rem;"
      class="ml-2"
    >
      <b-button :to="{ name: 'Permissions' }" variant="light"
        >Go there</b-button
      >
    </b-card>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component({
  components: {}
})
export default class Home extends Vue {}
</script>
