<template>
  <b-navbar toggleable="lg" type="dark" variant="primary">
    <b-navbar-brand href="/">Khensys</b-navbar-brand>

    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav>
        <b-nav-item :to="{ name: 'PermissionTypes' }"
          >Permission Types</b-nav-item
        >
        <b-nav-item :to="{ name: 'Permissions' }">Permissions</b-nav-item>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</template>

<script src="./header.ts"></script>
<style src="./header.scss" scoped lang="scss"></style>
