<template>
  <div class="row">
    <div class="col-md-12 mb-3">
      <div class="layout-btn-group">
        <h4 class="pull-left">Permission Types</h4>
        <b-button
          class="pull-right"
          variant="outline-success"
          :to="{ name: 'PermissionType' }"
        >
          <i class="fa fa-plus"></i> Create Permission Types
        </b-button>
      </div>
    </div>
    <div class="col-md-12">
      <b-table
        :fields="tfields"
        :items="permissionTypes"
        :busy="isLoading"
        class="mt-3"
        striped
      >
        <template #table-busy>
          <div class="text-center text-danger my-2">
            <b-spinner class="align-middle"></b-spinner>
            <strong>Loading...</strong>
          </div>
        </template>
        <template #cell(action)="data">
          <b-button class="btn btn-danger" @click="erase(data.item.id)">
            <i class="fa fa-trash"></i>
          </b-button>
          <b-button
            class="btn btn-primary ml-1"
            :to="{ name: 'PermissionType', params: { id: data.item.id } }"
          >
            <i class="fa fa-pencil"></i>
          </b-button>
        </template>
      </b-table>
    </div>
  </div>
</template>

<script src="./permission-types.ts"></script>
