<template>
  <b-container class="mb-5">
    <div class="row">
      <div class="col-md-12 mb-3">
        <div class="layout-btn-group">
          <h4 class="pull-left">
            {{ model.id > 0 ? "Editing" : "Creating" }} Permission Types
          </h4>
          <b-button
            class="pull-right"
            variant="outline-info"
            :to="{ name: 'PermissionTypes' }"
          >
            <i class="fa fa-arrow-left"></i> Back
          </b-button>
        </div>
      </div>
      <div class="col-md-12">
        <form @submit="onSubmit" class="d-flex justify-content-center">
          <div class="row" v-if="model">
            <div class="col-md-12">
              <div class="form-group">
                <label for="description">Description*</label>
                <input
                  type="text"
                  name="description"
                  v-model="model.description"
                  v-validate="'required'"
                  class="form-control"
                  :class="{ 'is-invalid': errors.has('description') }"
                  id="description"
                  placeholder="Description"
                />
              </div>
            </div>
            <div class="col-md-12">
              <button class="btn btn-success btn-block">
                <i class="fa fa-floppy-o"></i>
                {{ isLoading ? "Loading..." : "Save" }}
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </b-container>
</template>

<script src="./permission-type.ts"></script>
