<template>
  <footer class="fluid-container footer">
    <p class="text-center">
      <strong>Khensys</strong> todos los derechos reservados.
    </p>
  </footer>
</template>

<script src="./footer.ts"></script>
<style src="./footer.scss" scoped lang="scss"></style>
