<template>
  <div id="app">
    <Layout>
      <router-view />
    </Layout>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Layout from "@/components/layout/layout.vue";

@Component({
  components: {
    Layout
  }
})
export default class App extends Vue {}
</script>
